:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color-scheme: light;
}

* {
	box-sizing: border-box;
	line-height: normal;
}

body {
	user-select: none; /* Standard syntax */
	background-color: transparent;
}

#app {
	width: 100%;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

input,
button,
textarea,
:focus {
	outline: none; /* You should add some other style for :focus to help UX/a11y */
}

a:not([draggable="true"]),
img:not([draggable="true"]) {
	-webkit-user-drag: none;
	user-drag: none; /* Technically not supported in Electron yet */
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
	-webkit-user-drag: auto;
	user-drag: auto; /* Technically not supported in Electron yet */
}
